// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (C) 2022 Arm Ltd.
/*
 * Common peripherals and configurations for MangoPi MQ-R boards.
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

/ {
	aliases {
		serial0 = &uart0;
		serial5 = &uart5;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs = "debug mem=128M cma=32M root=/dev/mmcblk0p2 init=/sbin/init console=ttyS0,115200 rootwait clk_ignore_unused drm.debug=0x3";
	};

	leds {
		compatible = "gpio-leds";

		led-0 {
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_CPU;
			linux,default-trigger = "cpu";
			gpios = <&pio 3 22 GPIO_ACTIVE_LOW>; /* PD22 */
		};
	};

	/* board wide 5V supply directly from the USB-C socket */
	reg_vcc5v: regulator-5v {
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	/* SY8008 DC/DC regulator on the board */
	reg_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_vcc5v>;
	};

	/* SY8008 DC/DC regulator on the board, also supplying VDD-SYS */
	reg_vcc_core: regulator-core {
		compatible = "regulator-fixed";
		regulator-name = "vcc-core";
		regulator-min-microvolt = <880000>;
		regulator-max-microvolt = <880000>;
		vin-supply = <&reg_vcc5v>;
	};

	/* XC6206 LDO on the board */
	reg_avdd2v8: regulator-avdd {
		compatible = "regulator-fixed";
		regulator-name = "avdd2v8";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		vin-supply = <&reg_3v3>;
	};

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&pio 6 12 GPIO_ACTIVE_LOW>; /* PG12 */
	};

	panel_rgb: panel-rgb {
		compatible = "newhaven,nhd-7.0-800480ef-atxl";
		power-supply = <&reg_3v3>;
		/* backlight = <&backlight>; */
		/* enable-gpios = <&gpioi 12 GPIO_ACTIVE_HIGH>; */
		status = "okay";
		port {
			panel_in_rgb: endpoint {
				remote-endpoint = <&tcon_lcd0_out_rgb>;
			};
		};
	};
};

&dcxo {
	clock-frequency = <24000000>;
};

&ehci1 {
	status = "okay";
};

&mmc0 {
	pinctrl-0 = <&mmc0_pins>;
	pinctrl-names = "default";
	vmmc-supply = <&reg_3v3>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>;
	disable-wp;
	bus-width = <4>;
	status = "okay";
};

&mmc1 {
	pinctrl-0 = <&mmc1_pins>;
	pinctrl-names = "default";
	vmmc-supply = <&reg_3v3>;
	non-removable;
	bus-width = <4>;
	mmc-pwrseq = <&wifi_pwrseq>;
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&pio {
	vcc-pb-supply = <&reg_3v3>;
	vcc-pd-supply = <&reg_3v3>;
	vcc-pe-supply = <&reg_avdd2v8>;
	vcc-pf-supply = <&reg_3v3>;
	vcc-pg-supply = <&reg_3v3>;

	/omit-if-no-ref/
	uart5_pb_pins: uart5-pb-pins {
		pins = "PB4", "PB5";
		function = "uart5";
	};

	/omit-if-no-ref/
	uart0_pe_pins: uart0-pe-pins {
		pins = "PE2", "PE3";
		function = "uart0";
	};

	/omit-if-no-ref/
	spi0_full_pins: spi0-full-pins {
		pins = "PC2", "PC3", "PC4", "PC5", "PC6", "PC7";
		function = "spi0";
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pe_pins>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pb_pins>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_pb_pins>;
	status = "okay";
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_full_pins>;
	status = "okay";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "winbond,w25q128", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <100000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "awboot";
				reg = <0x00000000 0x00010000>;
			};

			partition@1 {
				label = "awboot1";
				reg = <0x00010000 0x00010000>;
			};

			partition@2 {
				label = "awboot2";
				reg = <0x00020000 0x00010000>;
			};

			/* 256 Kbytes */
			partition@3 {
				label = "dtb";
				reg = <0x00040000 0x00040000>;
			};

			/* 7.5 Mbytes */
			partition@4 {
				label = "kernel";
				reg = <0x00080000 0x00780000>;
			};

			/* 8 Mbytes */
			partition@5 {
				label = "rootfs";
				reg = <0x00800000 0x00800000>;
			};
		};
	};
};

/* The USB-C socket has its CC pins pulled to GND, so is hardwired as a UFP. */
&usb_otg {
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	usb1_vbus-supply = <&reg_vcc5v>;
	status = "okay";
};

&de {
	status = "okay";
};

&tcon_top {
	status = "okay";
};

&tcon_lcd0 {
	pinctrl-names = "default";
	pinctrl-0 = <&lcd_rgb666_pins>;

	status = "okay";
};

&tcon_lcd0_out {
	tcon_lcd0_out_rgb: endpoint@0 {
		reg = <0>;
		remote-endpoint = <&panel_in_rgb>;
	};
};

&tcon_tv0 {
	status = "disabled";
};

&can0 {
	status = "okay";
};
